---
const { frontmatter } = Astro.props;
---

<h1>{frontmatter.title}</h1>
<p>{frontmatter.pubDate.toString().slice(0, 10)}</p>
<p><em>{frontmatter.description}</em></p>
<img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
<div class="tags">
    {
        frontmatter.tags.map((tag) => (
            <a href={`/tags/${tag}`} class="tag">
                {tag}
            </a>
        ))
    }
</div>
<slot />

<style>
    a {
        color: #00539f;
    }

    .tags {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
    }

    .tag {
        margin: 0.25em;
        border: dotted 1px #a1a1a1;
        border-radius: 0.5em;
        padding: 0.5em 1em;
        font-size: 1.15em;
        background-color: #f8fcfd;
    }
</style>
